<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <style>
        body {
          background-image: url('https://img.freepik.com/free-vector/circuits-blue-red-gradient-digital-background_23-2148821701.jpg?w=996&t=st=1706379807~exp=1706380407~hmac=727e617fffb1b48cad7f8b16a221cc4b4b541000098c1c2574b60ffe536b1a65');
          background-size: 1500px 1300px; /* Adjust the background size as needed */
          background-position: center; /* Adjust the background position as needed */
          background-repeat: no-repeat; /* Prevent the background from repeating */
          /* Optionally, you can add additional styles for the body */
          /* For example, setting margin and padding to 0 to remove default spacing */
          margin: 0;
          padding: 0;
          
        }
        /* Add other styles for your content as needed */
        .content {
          /* Your content styles go here */
          text-align: center;
          padding: 50px;
          justify-content: center;
          height: 100vh;
          
        }
      </style>


    <header>
        <%- include("header.ejs") %>
    </header>
    
<p class="py-9">----</p>
    <div class="max-w-md mx-auto shadow-2xl rounded-b-3xl mt-10">
        <form action="/changepass" class="p-6 bg-white shadow-lg rounded-lg flex flex-col items-center space-y-4"
            method="POST">

            <input type="hidden" name="userId" value="<%= userId %>">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h1 class="text-2xl font-semibold text-gray-800">Change Your Password</h1>
            <div class="w-full">
                <label for="oldpassword" class="text-sm text-gray-600">Enter Your Old Password</label>
                <input type="password" id="oldpassword" name="oldpassword" placeholder="Enter the Old Password"
                    class="w-full px-4 py-2 mt-1 rounded-md border required border-gray-300 focus:outline-none focus:border-blue-500">
            </div>
            <div class="w-full">
                <label for="newpassword" class="text-sm text-gray-600">Enter Your New Password</label>
                <input type="password" id="newpassword" name="newpassword" placeholder="Enter the New Password"
                    class="w-full px-4 py-2 mt-1 rounded-md border required border-gray-300 focus:outline-none focus:border-blue-500">
            </div>
            <button type="submit"
                class="w-full py-2 text-white bg-blue-500 rounded-md hover:bg-green-600 focus:outline-none">Change
                Password Now</button>
            <br>
            <hr><br>
            <div class="text-center">
                <!-- added flsh messages -->
                <div class="text-center">
                    <% if(messages && messages.error && messages.error.length> 0) { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <p class="rounded-full border-2 p-2 bg-gray-600 text-center text-white">
                                <%= messages.error[i] %>
                            </p>
                            <% } %>
                                <% } %>
                </div>
                </div>
        </form>

        <div class="flex justify-center">
            <a href="/signout"
                class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">signout</a>
            <% if (role==='educator' ) { %>
                <a href="/adminhome"
                    class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">Back
                    to Home</a>
                <% } else { %>
                    <a href="/studenthome"
                        class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">Back
                        to Home</a>
                    <% } %>
        </div>


        <footer>
            <%- include("footer.ejs") %>
        </footer>
</body>

</html>