<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <style>
        body {
          background-image: url('https://img.freepik.com/free-vector/circuits-blue-red-gradient-digital-background_23-2148821701.jpg?w=996&t=st=1706379807~exp=1706380407~hmac=727e617fffb1b48cad7f8b16a221cc4b4b541000098c1c2574b60ffe536b1a65');
          background-size: 1500px 1300px; /* Adjust the background size as needed */
          background-position: center; /* Adjust the background position as needed */
          background-repeat: no-repeat; /* Prevent the background from repeating */
          /* Optionally, you can add additional styles for the body */
          /* For example, setting margin and padding to 0 to remove default spacing */
          margin: 0;
          padding: 0;
          
        }
        /* Add other styles for your content as needed */
        .content {
          /* Your content styles go here */
          text-align: center;
          padding: 50px;
          justify-content: center;
          height: 100vh;
          
        }
      </style>

    <header>
        <%- include("header.ejs") %>
    </header>
    <p py-9>----</p>

    <div class="max-w-4xl gap-12 mx-auto mt-10 flex justify-between bg-blue-100">

        <form action="/create-chapter"
            class="w-full max-w-md p-6 bg-white shadow-lg rounded-lg flex flex-col items-center space-y-4 mx-auto"
            method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <h1 class="text-2xl font-semibold text-gray-800">Create a New Chapter</h1>
            <div class="w-full">
                <label for="title" class="text-sm text-gray-600">Chapter Title</label>
                <input type="text" id="title" name="title" required placeholder="Enter the Chapter Title"
                    class="w-full px-4 py-2 mt-1 rounded-md border required border-gray-300 focus:outline-none focus:border-blue-500">
            </div>
            <div class="w-full bg-blue-100">
                <label for="description" class="text-sm text-gray-600">Chapter Description</label>
                <textarea id="description" name="description" required placeholder="Enter the Chapter Description"
                    class="w-full px-4 py-2 mt-1 rounded-md border required border-gray-300 focus:outline-none focus:border-blue-500"
                    rows="4"></textarea>
            </div>
            <input type="hidden" name="courseId" value="<%= courseId %>">
            <button type="submit"
                class="w-full py-2 text-white bg-blue-500 rounded-md hover:bg-green-600 focus:outline-none">Create
                Chapter</button>
        </form>

        <div class="w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800">Created Chapters</h2>
            <ul>
                <% chapters.forEach(chapter=> { %>
                    <li class="border border-gray-300 p-4 mt-2 flex items-center justify-between">
                        <div>
                            <p class="text-lg font-semibold">
                                <%= chapter.title %>
                            </p>
                            <p>
                                <%= chapter.description %>
                            </p>
                        </div>
                        <div>
                            <a href="/create-page?chapterId=<%= chapter.id %>&courseId=<%= courseId %>"
                                class="text-green-500 font-bold">Add Page</a>
                        </div>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>

    <div class="flex justify-center">
        <a href="/signout"
            class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-red-900 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">signout</a>
        <a href="/adminhome"
            class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-red-900 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">Back
            to Home</a>
    </div>

    <footer>
        <%- include("footer.ejs") %>
    </footer>
</body>

</html>