<!DOCTYPE html>
<html>
<head>
    <title>Available Courses</title>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
  <br><hr class="border-2 border-blue-400" >
  <br>  
  <h1 class="text-3xl mb-4 font-bold text-center">Available Courses</h1>
    <br>
    <div class=" p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5">
        <% courses.forEach(function(course) { %>
            <div class="bg-gray-200 p-4 rounded shadow-lg hover:shadow-lg transition duration-300 ease-in-out mb-4 cursor-pointer ">
                <h2 class="text-lg font-bold mb-2"><%= course.title %></h2>
                <p class="text-gray-700">Educator:<%= course.educator %></p>
                <p class="text-gray-700"><%= course.description %></p>
               <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="viewCourseChapters('<%= course.id %>')">View Course</button>      
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2" onclick="enrollCourse('<%= course.id %>')">Enroll</button>
            </div>
        <% }); %>
    </div>
<!-- 
     <h2 class="text-2xl mt-8">Chapters</h2> 
    <ul>
        <% chapters.forEach(function(chapter) { %>
            <li><%= chapter.title %> - <%= chapter.description %></li>
        <% }); %>
    </ul>

    <h2 class="text-2xl mt-8">Pages</h2>
    <ul>
        <% pages.forEach(function(page) { %>
            <li><%= page.title %> - <%= page.content %></li>
        <% }); %>
    </ul>  -->

    <script>
        function viewChapters(courseId) {
            window.location.href = `/chapter-view?courseId=${courseId}`;
        }
    </script> 
    <script>
        function viewCourseChapters(courseId) {
            window.location.href = `/chapter-view?courseId=${courseId}`;
        }
    </script>
    
</body>
</html>
