<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body>

    <style>
        body {
          background-image: url('https://img.freepik.com/free-vector/circuits-blue-red-gradient-digital-background_23-2148821701.jpg?w=996&t=st=1706379807~exp=1706380407~hmac=727e617fffb1b48cad7f8b16a221cc4b4b541000098c1c2574b60ffe536b1a65');
          background-size: 1500px 1300px; /* Adjust the background size as needed */
          background-position: center; /* Adjust the background position as needed */
          background-repeat: no-repeat; /* Prevent the background from repeating */
          /* Optionally, you can add additional styles for the body */
          /* For example, setting margin and padding to 0 to remove default spacing */
          margin: 0;
          padding: 0;
          
        }
        /* Add other styles for your content as needed */
        .content {
          /* Your content styles go here */
          text-align: center;
          padding: 50px;
          justify-content: center;
          height: 100vh;
          
        }
      </style>

    <header><%- include("header.ejs") %></header>
    
    <div class="container mx-auto mt-24">
        <input type="hidden" name="chapterId" value="<%= chapterId %>" />
        <div class="md:10 mx-4 my-8 rounded-lg bg-slate-200 p-4 shadow-lg">
            <h1 class="mb-8 text-center text-4xl text-indigo-700">Pages in Chapter: <%= chapterTitle %>
            </h1>

            <div class="grid grid-cols-1 gap-4">
                <% if (pages.length> 0) { %> <% pages.forEach(function(page) { %>
                        <div class="rounded-lg border bg-gray-100 p-4">
                            <h2 class="mb-2 text-2xl font-semibold text-indigo-800">
                                Title: <%= page.title %>
                            </h2>
                            <p class="text-gray-600">
                                Content: <%= page.content %>
                            </p>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p class="text-center text-gray-600">OOPS! No pages in this chapter.</p>
                                <% } %>
            </div>

            <div class="mt-6 text-right">
                <input type="hidden" name="courseId" value="<%= courseId %>" />
                <a href="/create-page?chapterId=<%= chapterId %>&courseId=<%= courseId %>"
                    class="inline-block rounded-full bg-blue-400 px-4 py-2 font-semibold text-white shadow-md hover:bg-blue-900">Create
                    New Page</a>
                <a href="/adminhome"
                    class="inline-block rounded-full bg-blue-400 px-4 py-2 font-semibold text-white shadow-md hover:bg-blue-900">Main
                    Menu</a>
            </div>
        </div>
    </div>

    <div class="flex justify-center gap-1">
        <a href="/signout"
            class="mt-25 mb-4 mt-24 mt-4 rounded bg-blue-500 px-4 py-2 text-lg font-bold font-semibold text-white hover:bg-blue-900">signout</a>
        <a href="/adminhome"
            class="mt-25 mb-4 mt-24 mt-4 rounded bg-blue-500 px-4 py-2 text-lg font-bold font-semibold text-white hover:bg-blue-900">Back
            to Home</a>
            <a href="/create-chapter?courseId=<%= courseId %>&userId=<%= userId %>""
                class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">All
                 Chapters</a>
    </div>

</body>
<footer><%- include("footer.ejs") %></footer>

</html>