<!DOCTYPE html>
<html>

<head>
    <title>Chapters</title>
    <meta name="csrf-token" content="<%= csrfToken%>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>

    <style>
        body {
          background-image: url('https://img.freepik.com/free-vector/copy-space-blue-circuits-digital-background_23-2148821699.jpg?w=996&t=st=1706376806~exp=1706377406~hmac=6b9bd5e96558a99cab58ea00443cf50357e98170f62a1bb4ead03cd7c1d97dd8');
          background-size: 1500px 1900px; /* Adjust the background size as needed */
          background-position: center; /* Adjust the background position as needed */
          background-repeat: no-repeat; /* Prevent the background from repeating */
          /* Optionally, you can add additional styles for the body */
          /* For example, setting margin and padding to 0 to remove default spacing */
          margin: 0;
          padding: 0;
          
        }
        /* Add other styles for your content as needed */
        .content {
          /* Your content styles go here */
          text-align: center;
          padding: 50px;
          justify-content: center;
          height: 100vh;
          
        }
      </style>

    <header>
        <%- include("header.ejs") %>

    </header>
    <div class="flex justify gap-1">
        <a href="/signout"
            class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">signout</a>

        <a href="/studenthome"
            class="text-lg mt-25 font-semibold bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 mt-24 rounded mt-4 mb-4">Back
            to Home</a>
    </div>

    <div class="container mx-auto mt-8">
        <div class="flex">
            <div class="w-1/4">
                <div class="mb-10 rounded-lg border border-gray-300 bg-white p-4">
                    <h2 class="mb-2 text-lg font-bold">
                        <%= courseTitle %>
                    </h2>
                    <p class="text-gray-600 font-bold">Educator: <%= educator %>
                    </p>
                    <p class="text-gray-600 font-bold">description: <%= description %>
                    </p>
                    <p class="text-gray-600 font-bold">Enroll Now To Start</p>
                    <form method="post" action="/enroll/<%= courseId %>" class="mt-2">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" onclick="enrollClicked()"
                            class="mt-2 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700">Enroll</button>
                        <br>
                        <hr><br>
                       
                    </form>
                </div>
            </div>
            <div class="w-3/4">
                <h1 class="mb-4 text-center text-3xl font-bold text-blue-400">Chapters of <%= courseTitle %>
                </h1>
                <div class="mx-11 gap-1">
                    <% if (chapters.length> 0) { %>
                        <% chapters.forEach(function(chapter) { %>
                            <div class="relative mb-4 rounded-lg border border-blue-300 bg-white p-4 hover:shadow-lg">
                                <h2 class="mb-4 text-lg font-bold">
                                    <%= chapter.title %> (Enroll To Access)
                                </h2>
                                <div class="absolute bottom-6 right-7 mt-1 text-right">
                                    <svg id="lock" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                        fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                    </svg>
                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p class=" col-span-2 mx-96 text-lg text-gray-600">No Chapters available.</p>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include("footer.ejs") %>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userRole = "<%= userRole %>";
            const courses = document.querySelectorAll("[id^='enrollButton_']");

            courses.forEach(course => {
                const courseId = course.id.split("_")[1];

                if (userRole === 'educator') {
                    course.innerHTML = '&#10006;';
                    course.style.cursor = 'not-allowed';
                    course.disabled = true;
                } else {
                    course.addEventListener("click", function () {
                        enrollCourse(courseId);
                    });
                }
            });
        });

    </script>
</body>

</html>